body {
    font-family: "Inter", sans-serif;    
    margin-top: 15%;
    margin-left: 8%;
    margin-right: 8%;
}

.latest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    
}