.dial {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 40px;
    }

    .dial-number {
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 100px;
    transition: 0.4s;
    }

    .dial-number1 {
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 100px;
    }

    .dial-number:hover {
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 242, 247);
    border-radius: 100px;
    }